{% load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% block title %}
{% endblock title %}

{% block css %}

    <link rel="stylesheet" href="{% static '/css/nav.css' %}">
{% endblock css %}

</head>
<body>
    <div class="nav">
        <div class="logo">
            <img src="{% static 'images/logo1.png' %}" alt="">
        </div>
        <ul>
            <li class="active"><a href="{%url 'home' %}">Home</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'gallery' %}">Gallery</a></li>
            <li><a href="{%url 'resorts' %}">Resort</a></li>
            <li><a href="{%url 'entertaiments' %}">Entertaiments</a></li>
        </ul>
    </div>
    {% block content %}{% endblock %}

</body>
</html>